@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.title{
    font-size: 20px;
    font-weight: bold;
}

.subtitle{
    font-size: 16px;
    font-weight: bold;
    opacity: 0.7;

}

.section-title{
    margin-top: 12px;
    font-size: 16px;
    font-weight: bold;
}

.section-subtitle{
    font-size: 12px;
    font-weight: bold;
    opacity: 0.7;

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}
html
{
    width: 300px;  /* max: 800px */
    background-color: rgb(28, 27, 27);

}
body {
    color: white;
    background-color: rgb(28, 27, 27);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
}

a {
    color: white;
    font-size: 12px;
    font-weight: bold;
    opacity: 0.7;
}

